.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background: #000;
}

.header-inner {
  margin-left: 20px;
}

/* PC幅（1400〜1540px）調整 */
@media (min-width: 1400px) and (max-width: 1540px) {
  .main-inner {
    width: 70%;
  }

  .application-column {
    max-width: 1000px;
  }
}

/* タブレット以下 */
@media (max-width: 1024px) {
  .application-column {
    max-width: 90%;
    /* 横幅を広めにして崩れ防止 */
  }
}

/* スマホサイズ */
@media (max-width: 768px) {
  .application-column {
    padding: 15px;
    max-width: 95%;
  }
}